.logo {
	transform: translateY(-4px);
}
.cla{
	transform: translateY(-3px);
}

.collapse{
	transform: translateY(1px);
}

.red{
	transform: translateY(4px);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.interesting {
	color: ffffff;
}

.emoji {
	font-size: 35px;
}

.title {
	padding-top: 5%;
	padding-bottom: 5% ;
}

.title_main {
	font-size: 32px;
	text-align: center;
}

.title_text {
	font-size: 20px;
    text-align: center;
}

/* 3 экран*/

.feedback {
	background: #000;
	color: #fff;
}

.blue{
	color:#95d;
}
