.interesting {
	background: linear-gradient(45deg, yellow, violet);
}

.emoji {
	font-size: 35px;
}

.title {
	padding-top: 5%;
	padding-bottom: 5% ;
}

.title_main {
	font-size: 32px;
	text-align: center;
}

.title_text {
	font-size: 20px;
    text-align: center;
}
